{% extends "layout.html" %}

{% block title %} Complex Numbers {% endblock %}

{% block head %}
{{ super() }}
<script src=https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full.js>
</script>

<link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}">
{% endblock %}

{% block main %}
  <div id="main">
    <form id="questions" class="form-inline">
      {% for n,q in questions %}
        <div class="out_question">
          <!--question-->
          <div class="question">
            {{ q.get_q().replace('[','(').replace(']',')') }}
          </div>
          <!--answer-->
          <div class="answer">
            {# Display correct type of inputs for the answer type #}
            {% if mat_ans %}
              {# Use answer dimensions to make correct size matrix of inputs #}
              {% for a in range(q.get_ans_dim()[0]) %}
                {% for b in range(q.get_ans_dim()[1]) %}
                  <input name="{{ n|string+a|string+b|string }}" type="text" class="form-control input" size=3>
                {% endfor %}
                <br>
              {% endfor %}
            {% else %}
              <input name="{{ n|string }}" type="text" class="form-control input" size=3>
            {% endif %}
          </div>
        </div>
        <br>
      {% endfor %}
      <!--Submit button-->
      <div class="row">
        <div class="col-lg-12">
          <input id="submit" class="btn btn-primary btn-lg btn-block submit" type="button" value="Submit Answers">
          <br>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block endscripts %}
    <script type=text/javascript>
        // Variables used in javascript
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
        q_type = {{ q_type | tojson | safe}}
        topic = {{ topic | tojson | safe}}
    </script>

    <script type="text/javascript" src="{{ url_for('static',filename='scripts/questions.js') }}">
    </script>
{% endblock %}
