.affix {
    top: 20px;
    width: 213px;
}

section {
    border: 1 px solid black;
    width: 100%
}

.title {
    text-align: center;
    font-size: 30pt;
}

@media (min-width: 1200px) {
    .affix {
        width: 263px;
    }
}

.affix-bottom {
    position: absolute;
    width: 213px;
}

@media (min-width: 1200px) {
    .affix-bottom {
        width: 263px;
    }
}

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
