<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Answers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <script	src=https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full.js>
    </script>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}"

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div style="float:left">
    {% for q in ans %}
        q: {{ q }}
        <br>
    {% endfor %}    
    <p style="font-size:50px"><b>{{ percent }}%</b></p>

    </div>
    <div style="float:left;margin-left:20px">
    {% for i in inputs %}
        a: {{ i }}
        <br>
    {% endfor %}
    </div>
    <br>
    <div style="float:bottom">
    </div>
</body>
