<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Answers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <script	src=https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full.js>
    </script>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}"

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div>
  <table class="table">
    <thead>
      <th> Question </th>
      <th> Answer</th>
      <th> Your Answer</th>
      <th></th>
    </thead>
    <tbody>
      {% for a in ans %}
      <tr>
        <td>
          {# question #}
        </td>
        <td>
          {{ a }}
        </td>
        <td>
          {{ inputs[loop.index0] }}
        </td>
        {% if scores[loop.index0] == 1 %}
        <td bgcolor="#00FF00">
        </td>
        {% else %}
        <td bgcolor="#FF0000">
        </td>
        {% endif %}

      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p style="font-size:50px">
  {{ percent }}%
  </p>
  </div>
</body>
