<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Loci Plotter</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>

    <script src="https://www.desmos.com/api/v0.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

    <script>
        window.MathJax = {
            AuthorInit: function() {
                MathJax.Hub.Register.StartupHook('End', function() {
                    MathJax.Hub.processSectionDelay = 0
                    var eq_in = document.getElementById('eq_in')
                    var MathPreview = document.getElementById('MathPreview')
                    var math = MathJax.Hub.getAllJax('MathPreview')[0]
                    eq_in.addEventListener('input', function() {
                        MathJax.Hub.Queue(['Text', math, eq_in.value])
                    })
                })
            }
        }
    </script>

    <script src=https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML-full.js>
    </script>


    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <row>
        <div class="col-lg-12">
            <div class="input-group" style="margin-top:10px;margin-bottom:10px">
                <input type="text" class="form-control" placeholder="Enter Equation..." id='eq_in' name="in">
                <span class="input-group-btn">
                    <button id="go"  class="btn btn-default" type="button">Go</button>
                </span>
            </div>
            <!-- /input-group -->
        </div>
    </row>
    <div class="col-sm-4">
        <div>
            <div id=MathPreview style="padding: 3px; width:100%; margin-top:5px;">``</div>
            <div id="MathBuffer" style="padding: 3px; width:100%; margin-top:5px; visibility:hidden; position:absolute; top:0; left: 0"></div>
        </div>
        <div>
            <table id="expressions" class="table">
                <thead>
                    <tr>
                        <th>Plot</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody> </tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-block" id="clear">Clear All</button>
        </div>
    </div>
    <div class="col-sm-8">
        <div id="calculator" style="width:100%; height:600px;"></div>
        <div>
            {% if current_user.is_authenticated %}
            <button type="button" class="btn btn-block" id="save-btn" data-toggle="modal" data-target="#save-modal">Save Graph</button>
            <button type="button" class="btn btn-block" id="load-btn" data-toggle="modal" data-target="#load-modal">Load Graph</button>
            {% endif %}
        </div>
        <!-- save-modal-->
        <div id="save-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save Graph</h4>
                    </div>
                    <form class="form" id="save-form">
                    <div class="modal-body">
                        <label for="title">Title</label>
                        <input id="title" class="form-control" type="text">
                        <label for="desc">Description</label>
                        <textarea id="desc" class="form-control" form="save-form" ></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="submit-graph" class="btn btn-primary">Save</button>
                    </div>
                    </form>
                </div>
                    <!-- end modal content-->
            </div>
        </div>
        <!-- end save-modal-->
        <!--load-modal-->
        <div id="load-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Load Graph</h4>
                    </div>
                    <form class="form" id="load-form">
                    <div class="modal-body">
                        <label for="title">Select Graph</label>
                        <select size="5" class="form-control" id="graph-select">
                            {% if user_graphs %}
                                {% for g in user_graphs %}
                                    <option value="{{ g.graph_id }}">{{ g.title }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" id="load-graph" class="btn btn-primary">Load</button>
                    </div>
                    </form>
                </div>
                    <!-- end modal content-->
            </div>
        </div>
        <!--end load-modal-->

    </div>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>

    <script type="text/javascript" src="{{ url_for('static',filename='scripts/loci_plot.js') }}">
    </script>

    <!--script>
        Preview.Init()
    </script-->


</body>

</html>
