{% extends "layout.html" %}

{% block title %} Sign Up {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block main %}
    <div class="container">

        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                </div>
                <div class="panel-body">
                    <form id="signupform" name="regform" class="form-horizontal" role="form" action="{{ url_for('register') }}" method="post">
                        {{ regform.hidden_tag() }}
                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                {{ regform.email(class="form-control",placeholder="Email") }}
                                <!--input type="text" class="form-control" name="email" placeholder="Email Address"-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                {{ regform.fname(class="form-control",placeholder="First Name") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                {{ regform.lname(class="form-control",placeholder="Last Name",placeholder="Last Name") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                {{ regform.password(class="form-control",placeholder="Password") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Confirm Password</label>
                            <div class="col-md-9">
                                {{ regform.confirm_password(class="form-control",placeholder="Confirm Password") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Sign Up" class="btn btn-info">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Have an account?
                                    <a href="{{ url_for('login') }}">
                                    Sign In Here
                                </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if regform.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in regform.errors|dictsort if field_errors %} {% for error in field_errors %}
                        <li>{{ regform[field_name].label }}: {{ error }}</li>
                        {% endfor %} {% endfor %}
                    </ul>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
