{% extends "layout.html" %}
{% block title %} Complex Numbers {% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css">

<link rel="stylesheet" href="{{ url_for('static',filename='styles/account.css') }}">

{% endblock %}
<!--http://www.codingeverything.com/2014/02/BootstrapDocsSideBar.html
http://jsfiddle.net/KyleMit/v6zhz/?utm_source=website&utm_medium=embed&utm_campaign=v6zhz
http://jsfiddle.net/panchroma/ExWDq/
Use panels for each section
-->
{% block main %}
<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-info" style="margin:10px;text-align:center;">Your Account</div>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<div id="side-nav" class="span3">
    <ul class="nav nav-list nav-stacked affix nav-list">
        <li><a href="#links"><i class="icon-chevron-right"></i>Links</a></li>
        <li><a href="#set"><i class="icon-chevron-right"></i>Set Tasks</a></li>
        <li><a href="#graphs"><i class="icon-chevron-right"></i>Graphs</a></li>
        <li><a href="#scores"><i class="icon-chevron-right"></i>Scores</a></li>
        <li><a href="#settings"><i class="icon-chevron-right"></i>Settings</a></li>
    </ul>

</div>
</div>
<div class="col-sm-9">
<div id="span9 content">
    <section id="links">
        <h1>Settings</h1>
    </section>
    <section id="set">
        <h1>Settings</h1>
    </section>

    <section id="graphs">
        <h1>Settings</h1>
    </section>

    <section id="scores">
        <table class="table">
            <thead>
                <th> Topic </th>
                <th> Score </th>
                <th> Percentage </th>
            </thead>
            <tbody>
                {% for mark in user.marks.all() %}
                <tr>
                    <td>{{ qs[mark.question_id]["topic"] }}&nbsp;{{ qs[mark.question_id]["name"] }}</td>
                    <td>{{ mark.score }}/{{ mark.out_of }}</td>
                    <td>{{ mark.score/mark.out_of*100 }}%</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </section>

    <section id="settings">
        <h1>Settings</h1>
    </section>
</div>
</div>
</div>
{% endblock %}
