<!DOCTYPE html>
{# Jinja 2 Template which all other templates will inherit from #}
{# Contains blocks which are overridden by child templates #}
{# Child blocks call super() to get the common elements #}

<html>
<head>
  <!-- load all common libraries and css in head, can be overidden -->
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %} A2 Project Website{% endblock %}</title>
  <!-- load jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  </script>
  <!-- bootstrap css and js -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <!-- All pages have the same favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% endblock %}
</head>
<body>
  {% block nav %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('main') }}">A2 Project</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('loci.loci') }}">Loci Plotter</a></li>
          <li><a href="{{ url_for('matrix_blueprint.matrix') }}">Matrix Calculator</a></li>
          <li><a href="{{ url_for('loci.operations') }}">Complex Number Operations</a></li>
          <li><a href="{{ url_for('help') }}">Help</a></li>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Questions <b class="caret"></b></a>
            <!-- dropdown link list -->
            <ul class="dropdown-menu multi-level">
              <li class="dropdown-submenu">
                <a href="{{ url_for('questions.questions') }}" class="dropdown-toggle" data-toggle="dropdown">Matrix</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('questions.show_questions',topic='matrix',q_type='add_sub') }}">Addition and Subtraction</a></li>
                  <li><a href="{{ url_for('questions.show_questions',topic='matrix',q_type='mult') }}">Multiplication</a></li>
                  <li><a href="{{ url_for('questions.show_questions',topic='matrix',q_type='inv') }}">Inverse</a></li>
                  <li><a href="{{ url_for('questions.show_questions',topic='matrix',q_type='det') }}">Determinant</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="{{ url_for('questions.questions') }}"  class="dropdown-toggle" data-toggle="dropdown">Complex numbers</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('questions.show_questions',topic='complex',q_type='add_sub') }}">Addition and Subtraction</a></li>
                  <li><a href="{{ url_for('questions.show_questions',topic='complex',q_type='mult') }}">Multiplication</a></li>
                  <li><a href="{{ url_for('questions.show_questions',topic='complex',q_type='div') }}">Division</a></li>
                  <li><a href="{{ url_for('questions.show_questions',topic='complex',q_type='mod_arg') }}">Modulus and Argument</a></li>
                </ul>
              </li>
            </ul> <!--end left links-->
          </li>
            <!--right links-->
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li><a href="{{ url_for('user.account') }}">Account</a></li>
              <li><a href="{{ url_for('user.logout') }}">Log Out</a></li>
              {% else %}
              <li><a href="{{ url_for('user.login') }}">Log In</a></li>
              <li><a href="{{ url_for('user.register') }}">Register</a></li>
              {% endif %}
            </ul><!--end right links-->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {% endblock %}

  <div class="container-fluid content">
    {% block main %}
    {% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
    <!-- Same footer for all pages, but can be overridden -->
    {% block footer %}
      <p class="text-muted"> Anik Roy 2017 </p>
    {% endblock %}
    </div>
  </footer>
  <!-- Block for other javascript at end of document -->
  {% block endscripts %}
  {% endblock %}
</body>

</html>
