<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %} A2 Project Website{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% endblock %}

</head>


<body>
  <div id="container">
    {% block main %}
    {% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
    {% block footer %}
      <p class="text-muted"> Anik Roy 2017 </p>
    {% endblock %}
    </div>
  </footer>
  {% block endscripts %}
  {% endblock %}
</body>

</html>
