{% extends "layout.html" %}

{% block title %} Argand Diagram {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" >

<script type="text/javascript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js">
</script>
{% endblock %}

{% block main %}
    <div class="col-sm-4">
    <div>
      <table id="expressions" class="table">
        <thead>
          <tr>
            <th></th>
            <th colspan="2">Point</th>
            <th>Show</th>
            <th>Line</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div>
      <button id="addpoint" type="button" class="btn btn-block btn-primary">Add Moveable point</button>
    </div>
    <div>
      <div class="input-group">
        <input id="calc_in" type="text" class="form-control" placeholder="Enter Calculation">
          <span class="input-group-btn">
            <button id="addcalc"  class="btn btn-primary" type="button">Add Calculated point</button>
          </span>
      </div><!-- /input-group -->
    </div>
    <div>
      <button type="button" class="btn btn-block" id="clear">Clear All</button>
    </div>
    </div>
    <div class="col-sm-8">
      <div id="box" class="jxgbox" style="width:100%; height:600px;"></div>
    </div>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/operations.js') }}"></script>
    <!-- add movable point button only
         creates 2 inputs, re, im-->
    <!-- add calculated point button only
         adds <p>s to table which update based on points-->
    <!-- buttons under points table-->
    <!-- show/hide and delete checkbox/button on each point-->
{% endblock %}
