{% extends "layout.html" %}

{% block title %} Argand Diagram {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" >

<script type="text/javascript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js">
</script>
{% endblock %}

{% block main %}
    <div id="box" class="jxgbox" style="width:500px; height:400px"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/operations.js') }}"></script>
{% endblock %}
